[login]
client_id=269205866832907

scope=email
response_type=code

redirect_uri={{ federated_login.redirect_base_uri}}/commonModules/php/modules/Auth.php/auth/facebookAppsLogin/authenticate
loginCallback={{ federated_login.redirect_base_uri}}