[login]
client_id={{ federated_login.google_client_id }}

scope=openid%20email
response_type=code

redirect_uri={{ federated_login.redirect_base_uri}}/commonModules/php/modules/Auth.php/auth/googleAppsLogin/authenticate
loginCallback={{ federated_login.redirect_base_uri}}