.header{
  display:block;
  background-color:#000088;
  margin: 0 auto;
  margin-bottom:25px;
  padding-bottom:5px;
  border-bottom: medium solid #000088;
  width:100%;
  height:60px;

}
.body{
   display:block;
   margin: 0 auto;
   height:100%;
}
.footer{
   display:block;
   font-size:10px;
   text-align:center;
   margin: 0 auto;
   margin-top:50px;
   padding-top:10px;
   border-top: medium solid #000088;
   background-color:#000088;
   height:50px;
   color:white;
   width:100%;
}
.title{
  font-size:20px;
}

.menuHeader{
  height:60px;
}

.menuItemLogo{
    float:left;
    margin-top:4px;
    margin-left:4px;
    width:60px;
    height:60px;
}
.menuItemUserId{
    float:left;
    margin-top:4px;
    margin-left:4px;
    width:80px;
    height:60px;
    padding-top: 20px;
    color: white;
    font-size: 8px;
}

.menu{
  float:right;

  margin-top:20px;
  margin-right:5px;
  font-size:10px;
  height:50px;
  width: 800px;
}
a {
   text-decoration: none;
}

a:active {
    text-decoration:none;
}

.companyIcon{
    paddinig-top:50px;
    margin-right:5px;
    zoom:60%;
}

.menuItem {
  float:right;
  margin-left:10px;
  border:solid 1px #C0C0C0;;
  padding: 5px 5px 5px 5px;
  font-color:black;
  background-color:#ffffff;
}

.menuItemSearch{
  float:right;
  margin-left:10px;
  margin-top:4px;
}
.menuItemSearchInput{
  float:right;
}

.menuItemSearchIcon{
  float:right;
  margin-left:1px;
  border:solid 1px #C0C0C0;
    background: #C0C0C0;
}
.menuItemSearchIconImg{
    float:right;
    margin-left:10px;
    margin-right:5px;
    margin-top:6px;
    zoom:60%;
}
.menuItem:hover {
    background:#808080;
    border-color:#808080;
}

.loginBox{
    width:400px;
    margin: 0 auto;
}
.loginTitle{
    text-align:center;
    width:400px;
    margin-bottom:30px;
}

.loginInput{
    text-align:center;
    margin-bottom:30px;
    width:401px;
    height:20px;
    font-size:20px;
}

.loginInput:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.loginButton{
    background-color:#E0F2F7;
    text-align:center;
    width:400px;
    border:solid 1px #C0C0C0;
}
.loginButton:hover{
    background-color:#808080;
}

.loginRegistration{
    margin-top:20px;
    text-align:right;
}

.loginRegistrationTitle{
    color: #ff0000;
}
.loginMessage{
    margin-top:20px;
}

.closeButton{
}
.closeButtonCareerSheetCenter{
    width:1500px;
    padding-left:1485px;
}

.icon{
    paddinig-top:50px;
    margin-right:5px;
    zoom:50%;
}

.loading {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  z-index:20;
}

.searchResult{
    display: block;
    margin: 0 auto;
    width:600px;
}
.searchResultElement{
    margin-bottom:10px;
    margin: 0 auto;
    margin-bottom:10px;
    width:600px;
}

.searchSelecteHover:hover{
    background-color:#E0F2F7;
}

.loading{
    position:absolute;

    z-index:10px;

    height:100%;
    width:100%;

    background-color:black;
}

.accountRoleChange{
    clear:both;
    display: block;
    margin: 0 auto;
    border:solid 1px #C0C0C0;
    padding-top:10px;
    width: 800px;
    border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
}

.accountRoleChangeButton{
    clear:both;
    display: block;
    margin: 0 auto;
    padding-top:10px;
    width: 800px;
}
.accountRoleChangeButtonBox{
    padding:0 auto;
    display:block;
    width: 80%;
    margin: 0 auto;
    margin-bottom:10px;
}
.accountRoleChangeItemBox{
    padding:0 auto;
    display:block;
    width: 80%;
    margin: 0 auto;
    margin-bottom:10px;
    border-bottom:solid 1px #C0C0C0;;
}
.accountRoleChangeItemName{
    font-size:12px;
    width: 800px;
}
.addProjectIconTitle{
    font-size:10px;
}

.loginFederationBox{
    width:400px;
}
.loginFederationGoogle{
    width:60%;
    height:60%;
    padding-left:70px;
    margin-top:30px;
}
.loginFederationFacebook{
    width:59%;
    height:60%;
    padding-left:73px;
    margin-top:5px;
}

.loginLogoDiv{
    width:400px;
}

.loginLogo{
    margin-left:130px;
    margin-bottom:15px;
    width:30%;
    height:30%;
}

.statement{
    width:100%;
    height:100%;
}

.csvDropzone {
  width : 300px;
  height : 20px;
  border-style: dotted;
  float: left;
}

.analyzingDropzone {
  margin-left:10px;
  width : 400px;
  height : 20px;
  border-style: dotted;
  float: left;
}

.moveUpper{
    background-color:red;
    min-height: 10px;
    min-width: 10px;
}
.moveLeft{
    background-color:black;
    display: inline-block;
    min-height: 1000px;
    min-width: 10px;
}

.svgPane{
    background: #eaeaea;
}
.moveRight{
    background-color: blue;
    width:10;
    height: 100%;
    min-height: 10px;
    min-width: 10px;
}
.moveBottom{
    background-color: yellow;
    min-height: 10px;
    min-width: 10px;
}

.nodePropertySetting{
  width : 160px;
  height : 25px;
  float: left;
  background-color: #CED8F6;
}

.graphLabMenu{
    display: block;
    width: 100%;
}

.modalTitle{
    margin-right: 10px;
    width: 270px;
    float:left;
}

.nodeProp{
   display: block;
   width: 300px;
}

.nodePropName{
   float: left;
   width: 100px;
}

.nodePropValue{
   width: 180px;
}

.nodePropNameHeader{
   float: left;
   width: 100px;
  text-align: center;
}

.nodePropValueHeader{
   width: 180px;
  text-align: center;
}
.graphLabMenuCalculationModelItem{
  font-size: 10px;
  color: white;
  width : 150px;
  height : 80px;
  float: left;
  background-color: #000088;
  margin-right: 2px;

  text-align: center;
}
.graphLabMenuItem{
  font-size: 10px;
  color: white;
  width : 60px;
  height : 80px;
  float: left;
  background-color: #000088;
  margin-right: 2px;

  text-align: center;
}
.graphLabMenuItemDropAnalyzingBox{
  font-size: 10px;
  color: white;
  width : 120px;
  height : 80px;
  float: left;
  background-color: #000088;
  margin-right: 2px;

  text-align: center;
}

.graphLabMenuItemDropAnalyzing{
  font-size: 10px;
  color: white;
  width : 120px;
  height : 40px;
  float: left;
  background-color: #000088;
  margin-right: 2px;

  text-align: center;
}

.graphLabMenuItemDownloadLink{
  color: white;
  text-decoration: underline;
  font-size: 10px;
}

.graphLabMenuItemCalculationSelect{
    max-width:90%;
}
.graphLabMenuItemAnalyzingTarget{
    margin-left: 2px;
    max-width:95%;
    float: left;
}

.nodePropertyViewTitle{
    display:block;
    width: 300px;
    width: 300px;
}

.nodePropertyViewContent{
    margin-top: 20px;
    display:block;
}

.nodePropertyViewFooter{
    display:block;
}

.saveButtonBox {
    margin-top: 20px;
    margin-left:130px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.saveButtonBox:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.saveProp{
   display: block;
   width: 300px;
}

.savePropName{
   width: 100px;
}

.savePropValue{
   width: 180px;
}

.savePropNameHeader{
    float:left;
   width: 100px;
  text-align: center;
}

.savePropValueHeader{
   width: 180px;
  text-align: center;
}

.graphLabRecordLine{

    margin-left: auto;
    margin-right: auto;
}
.graphLabRecordUserid{
    float: left;
}
.graphLabRecordModelName{
    float: left;

}
.graphLabRecordModelTag{
    float: left;
}
.graphLabRecordModelDescription{

}

.graphRepositoryTree{
}

.graphLabRecordTree{
    display: block;
    margin: 0 auto;
}

.iconConnect{
    zoom: 50%;
}

.iconConnect:hover {
			opacity: 0.5 ;
			}

.popupMessage{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index:20;
  margin: auto;

  background-color: #ffffff;

  padding: 2 2 2 2;
  font-size: 30px;
  text-align: center;
  height: 35px;
}

.popupMessageClose{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index:20;
  margin: auto;

  background-color: yellow;

  padding: 2 2 2 2;
  font-size: 30px;
  text-align: center;
  height: 35px;
}
.searchResults{
    clear: both;
    display: block;
}

.searchResultBox{

  font-size: 20px;

  clear: both;
  width: 800px;
  margin-left: 20px;
  margin-bottom: 30px;
  height: 30px;
  background: linear-gradient(transparent 70%, #ff99ab 70%);
}

.searchResultBox:hover{
  background: linear-gradient(transparent 70%, #3399FF 70%);
}

.searchResultBoxFlaskIcon{
    float:left;
    zoom:10%;
    margin-right: 40px;
}
.searchResultBoxRightArrowIcon{
    float:right;
    zoom:40%;
}

.searchResultBoxModelName{
  width: 100px;
  float: left;
}

.searchResultBoxModelTag{

  width: 100px;
  float: left;
}

.searchResultBoxTimeStamp{

  width: 300px;
  float: left;

}

.searchResultBoxAlgorithm{

  width: 100px;
  float: left;
}