.tabList{
    width:1000px;
    height:27px;
    border-bottom:solid 1px #C0C0C0;
    margin-top:10px;
}

.tab{
  font-size:10px;
  float:left;
  width:150px;
  margin-right:5px;
  border-top-right-radius: 10px;        /* CSS3草案 */
  -webkit-border-top-right--radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-top-right-radius: 10px;   /* Firefox用 */
  border-top-left-radius: 10px;        /* CSS3草案 */
  -webkit-border-top-left--radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-top-left-radius: 10px;   /* Firefox用 */
  border:solid 1px #C0C0C0;;
  padding: 5px 5px 5px 5px;
  background: #C0C0C0;
}

.tabSelected{
  font-size:10px;
  float:left;
  width:150px;
  margin-right:5px;
  border-top-right-radius: 10px;        /* CSS3草案 */
  -webkit-border-top-right--radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-top-right-radius: 10px;   /* Firefox用 */
  border-top-left-radius: 10px;        /* CSS3草案 */
  -webkit-border-top-left--radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-top-left-radius: 10px;   /* Firefox用 */
  border:solid 1px #C0C0C0;;
  padding: 5px 5px 5px 5px;
  background:#808080;
  border-color:#808080;
}
.tab:hover {
    background:#808080;
    border-color:#808080;
}