play.crypto.secret = "hg1/tv7bRu]z=BvFOr@R_vzyJTeVr[Vv2`<u:LjjQXPW4I?L0l`bya4WTgc]hMIr"

# The application languages
# ~~~~~
play.i18n.langs = [ "en" ]


# build pdf
# local
wkhtmltopdf_command_path = "/usr/local/bin/wkhtmltopdf_with_x.sh"
pdf_download_base_url = "http://localhost/v0.1/files/"
pdf_disk_base_path = "/Users/itomao/CloudCareerSheet/cloud-career-sheet-ui/v0.1/files/"

#wkhtmltopdf_command_path = "/usr/local/bin/wkhtmltopdf_with_x.sh"
#pdf_download_base_url = "http://40.115.253.111/careersheet/"
#pdf_disk_base_path = "/var/www/html/careersheet/"